            <a class="btn btn-outline-primary" href="/nhanvien/{{this._id}}" role="button">Xem chi tiết</a>

            {{!-- <a href="/nhanvien/{{this._id}}" class="btn btn-link">Xem chi tiết</a> --}}
            {{!-- <a href="#" class="btn btn-link" data-bs-toggle="modal" data-bs-taget="#delete-course-modal"
              data-id="{{this._id}}">Xóa</a> --}}
            <a href="#" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete-course-modal"
              data-id="{{this._id}}">Xóa</a>